In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('orders.csv', sep=',')

In [5]:
df.head()

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0

In [8]:
df.describe()

,vendor_id,chain_id,city_id,successful_orders,fail_orders
count,96118.000000,96118.000000,96118.000000,96118.000000,96118.000000
mean,47425.345867,31031.897074,24.357342,8.877401,0.416842
std,15447.399597,10669.949918,1.168019,15.370105,1.424931
min,3756.000000,804.000000,23.000000,0.000000,0.000000
25%,40265.000000,27909.000000,23.000000,1.000000,0.000000
50%,49754.000000,32662.000000,24.000000,4.000000,0.000000
75%,58052.000000,38376.000000,25.000000,9.000000,0.000000
max,76557.000000,47907.000000,26.000000,240.000000,86.000000

In [12]:
df.describe(include=['object'])

              date   spec
count        96118  95733
unique         121     35
top     2019-09-27   Суши
freq           910  23077

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96118 entries, 0 to 96117
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               96118 non-null  object
 1   vendor_id          96118 non-null  int64
 2   chain_id           96118 non-null  int64
 3   city_id            96118 non-null  int64
 4   spec               95733 non-null  object
 5   successful_orders  96118 non-null  float64
 6   fail_orders        96118 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 5.1+ MB

In [31]:
# 1
float64_type= df.select_dtypes('float64')
float64_type.shape[-1]

2

In [34]:
# 2
df.shape[0]*df.shape[-1]

672826

In [47]:
# 3
df['city_id'].nunique()

4

In [136]:
# 4
day_df = df.groupby('date')['successful_orders'].sum().to_frame().copy()
int(round(day_df['successful_orders'].mean()))

7052

In [60]:
# 5
df[df['spec'] == 'Рыба'].shape[0]

1103

In [66]:
# 6
df[(df['vendor_id'] == 40065) & (df['successful_orders'] < 20)].shape[0]

45

In [140]:
# 7
int(round(df.groupby('vendor_id')['successful_orders'].sum().mean()))

555

In [146]:
# 8
cities_df = df.groupby('city_id')['successful_orders'].sum().to_frame().copy()
cities_df.sort_values(by='successful_orders').head(1)

         successful_orders
city_id
24                114977.0

In [150]:
# 9
spec_df = df.groupby('spec')[['successful_orders', 'fail_orders']].sum().copy()
spec_df['fail_part'] = spec_df['fail_orders']/(spec_df['successful_orders'] + spec_df['fail_orders'])
spec_df.sort_values(by='fail_part', ascending=False).head(1)

                     successful_orders  fail_orders  fail_part
spec
Вегетарианское меню                5.0         24.0   0.827586

In [127]:
# 10
df_07 = df[('2019-07-01'<=df['date']) & (df['date']<'2019-08-01')]
df_07 = df_07.groupby('chain_id')['successful_orders'].sum().to_frame()

df_08 = df[('2019-08-01'<=df['date']) & (df['date']<'2019-09-01')]
df_08 = df_08.groupby('chain_id')['successful_orders'].sum().to_frame()

df_all = pd.merge(df_07, df_08, on='chain_id', how='inner')

df_all['abs_growth'] = df_all['successful_orders_y'] - df_all['successful_orders_x']
df_all.sort_values(by='abs_growth', ascending=False).head(1)

          successful_orders_x  successful_orders_y  abs_growth
chain_id
29925                 11167.0              12561.0      1394.0