### Часть 1. Программирование на Python

Ссылка на контест:

http://45.77.142.102/cgi-bin/new-client?contest_id=8

### Часть 2. Проверка статистических гипотез

На платформе Delivery Club рестораны с быстрой скоростью доставки (готовка блюда + доставка блюда курьером до клиента), как правило - это рестораны, которые пользуются наибольшей популярность среди пользователей и получают наивысшую оценку (5 баллов).

Дан датасет **quality_restaurants.csv**, который преставляет из себя выборку с характеристиками некоторых ресторанов платформы DC. 

*avg_cook_time* - среднее время готовки ресторана, 

*avg_rest_toclient_time* - среднее время доставки блюда курьером ресторана до клиента, 

*rating* - бальная оценка ресторана (средний пользовательский рейтинг).

*restaurant_id* - идентификатор ресторана

*city_id* - идентификатор города

In [8]:
import pandas as pd
from scipy import stats

### Задание 1

Есть ли разница между **средним временем готовки ресторанов с рейтингом 5 звезд, 4 звезды, меньше 4 звезд.** При оценке использовать непараметрический критерий.

In [3]:
#Место для решения
df = pd.read_csv('quality_restaurants.csv')

In [4]:
df

     avg_cook_time  avg_rest_toclient_time  rating  city_id  restaurant_id
0     1.456798e+01            1.882925e+01       5        1              0
1     2.663857e+00            2.358426e+00       3        3              1
2     1.106665e+01            1.300000e+01       1        3              2
3     1.484324e+01            1.267024e+01       5        3              3
4     8.097093e+00            2.112668e+01       3        2              4
..             ...                     ...     ...      ...            ...
297   2.187737e+01            5.600239e+00       5        3            297
298   1.055604e+01            6.177070e+00       1        2            298
299   1.000000e+01            1.626414e+01       4        2            299
300   9.999927e+06            8.888779e+07       4        2            300
301   9.999927e+06            8.888779e+07       4        3            301

[302 rows x 5 columns]

SyntaxError: invalid syntax (<ipython-input-5-7d030ed9b9fb>, line 1)

### Задание 2

Для **города 2** рассчитать силу взаимосвязи между среднем временем готовки ресторана и среднем временем доставки. Позволяют ли полученные данные говорить о существовании связи?

Рассмотрим коэффициент корреляции Спирмена:

In [30]:
#Место для решения
city_2 = df[df['city_id']==2]
city_2.tail()

     avg_cook_time  avg_rest_toclient_time  rating  city_id  restaurant_id
290   1.714636e+01            1.932296e+01       5        2            290
291   1.469568e+01            1.300000e+01       3        2            291
298   1.055604e+01            6.177070e+00       1        2            298
299   1.000000e+01            1.626414e+01       4        2            299
300   9.999927e+06            8.888779e+07       4        2            300

In [27]:
city_2[['avg_cook_time', 'avg_rest_toclient_time']].corr()

                        avg_cook_time  avg_rest_toclient_time
avg_cook_time                     1.0                     1.0
avg_rest_toclient_time            1.0                     1.0

In [28]:
stats.pearsonr(city_2.avg_cook_time, city_2.avg_rest_toclient_time)

(0.9999999999801403, 0.0)

In [29]:
stats.spearmanr(city_2.avg_cook_time, city_2.avg_rest_toclient_time)

SpearmanrResult(correlation=-0.01055615503109156, pvalue=0.9182636681911649)

Похоже, основываясь на коэффициенте корреляции Спирмена, можно сказать, что мы не можем говорить о существовании связи.

### Часть 3. SQL

Дана таблица **CLIENTS** со следующими столбцами: id (идентификатор клиента), point (местоположение клиента).
Также дана таблица **RESTAURANTS**, поля - id (идентификатор ресторана), point (местоположение ресторана).
Задача - написать SQL-запрос, отвечающий на следующий вопрос: какое среднее расстояние между каждым клиентом и каждым рестораном.

*Примечание*: функция для вычисления расстояни между 2 местоположениями - st_distance(point1,point2).

In [3]:
#Место для решения
#Надо написать только код запроса

SELECT avg(dist)
FROM (
    SELECT st_distance(cl.point, rest.point) AS 'dist'
    FROM CLIENTS cl CROSS JOIN RESTAURANTS rest
)

############ неправильно
SELECT id, avg(dist)
FROM (
    SELECT 'id' cl.id, 'dist' st_distance(cl.point, rest.point)
    FROM CLIENTS cl CROSS JOIN RESTAURANTS rest
)
GROUP BY id